.order {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #ffb800;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

.body {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
}

.body h1 {
    font-size: larger;
    margin-bottom: 40px;
}

.body h3 {
    font-size: large;
    margin-bottom: 20px;
}

.body p {
    margin-bottom: 20px;
}

.body input {
    opacity: 0.8;
}

.body textarea {
    opacity: 0.8;
}

.bodyRight {
    display: block;
    margin-left: 20%;
}

.orderDetails {
    display: flex;
    flex-direction: row;
}

.food {
    width: 250px;
    height: 150px;
    border-radius: 10%;
}

.acceptButton {
    margin-left: 100px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
}